[Unit]
Description=Virtual Camp Worker
After=network.target

[Service]
ExecStart=/home/yurboc/projects/virtual-camp/venv/bin/python worker_main.py
WorkingDirectory=/home/yurboc/projects/virtual-camp/src/
User=yurboc
Group=yurboc
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target