[Unit]
Description=Virtual Camp Notifier
After=network.target

[Service]
ExecStart=/usr/bin/python notifier_main.py
WorkingDirectory=/home/yurboc/projects/virtual-camp/src/
User=yurboc
Group=yurboc
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target